.navContainer {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(143,73,125);
    padding-right: 10rem;
}

.navContainer button {
    margin-left: 1rem;
}

.navContainer ul {
    display: flex;
}

.navContainer ul li {
    background-color: rgb(25,25,59);
    color: white;
    list-style: none;
}

.navContainer button {
    background-color: rgb(25,25,59);
    color: white

}