@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
:root {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  font-family: 'Concert One', sans-serif;

}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

