.formContainer {
    background-color: grey;
    width: 100vw;
    height: 100vh;
     padding: 6rem ;
}

.form {

    background-color: grey;
    border: 0.1rem solid black;
    width: 30%;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    height: 75vh;
}
.form img {
    width: 60%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.form label {
    margin-top: 2rem;
    
}

.form button {
    margin-top: auto;

}

.form input {
    padding: .6rem 0;
    font-size: 1rem;
}

